<ion-content fullscreen>

  <div class="page">


    <!-- HEADER -->
    <div class="header">

      <h1>
        Rechercher une ville
      </h1>

      <p>
        Trouvez une localisation pour voir la météo
      </p>

    </div>



    <!-- SEARCH BOX -->
    <div class="search-box">

      <ion-icon
        name="search-outline">
      </ion-icon>


      <input
        type="text"
        placeholder="Rechercher une ville..."
        [(ngModel)]="query"
        (input)="search()"
      >

    </div>



    <!-- POSITION -->
    <button
      class="position-button"
      (click)="useMyPosition()"
    >

      <div class="icon">

        <ion-icon
          name="locate-outline">
        </ion-icon>

      </div>


      <span>
        Utiliser ma position
      </span>


    </button>




    <!-- RESULTS -->

    <div
      class="results-container"
      *ngIf="(results$ | async)?.length"
    >


      <h2>
        Résultats
      </h2>



      <div

        class="city-card"

        *ngFor="let city of (results$ | async)"

        (click)="selectCity(city)"

      >


        <div class="city-icon">

          <ion-icon
            name="location-outline">
          </ion-icon>

        </div>



        <div class="city-info">


          <h3>
            {{ city.name }}
          </h3>


          <p>

            {{ city.region }}

            <span *ngIf="city.region">
              -
            </span>

            {{ city.country }}

          </p>


        </div>



        <ion-icon

          class="arrow"

          name="chevron-forward-outline">

        </ion-icon>


      </div>


    </div>



  </div>


</ion-content>