<ion-content fullscreen>


<div class="page">



  <!-- HEADER -->

  <div class="header">


    <div class="header-icon">

      <ion-icon
        name="settings-outline">
      </ion-icon>

    </div>



    <div>

      <h1>
        Réglages
      </h1>


      <p>
        Personnalisez votre expérience météo
      </p>


    </div>


  </div>





<ng-container
  *ngIf="settings$ | async as settings"
>



  <!-- UNITES -->


  <section class="card">


    <h2>
      Unités
    </h2>



    <div class="row">


      <div class="label">

        <ion-icon
          name="thermometer-outline">
        </ion-icon>


        <span>
          Température
        </span>

      </div>



      <select

        [ngModel]="settings.temperatureUnit"

        (ngModelChange)="update({
          temperatureUnit:$event
        })"

      >


        <option value="celsius">

          Celsius °C

        </option>


        <option value="fahrenheit">

          Fahrenheit °F

        </option>


      </select>



    </div>



    <div class="row">


      <div class="label">

        <ion-icon
          name="speedometer-outline">
        </ion-icon>


        <span>
          Vent
        </span>


      </div>




      <select

        [ngModel]="settings.windUnit"

        (ngModelChange)="updateWindUnit($event)"
        

      >


        <option value="kmh">

          km/h

        </option>


        <option value="mph">

          mph

        </option>


      </select>



    </div>



  </section>







  <!-- PREFERENCES -->


  <section class="card">


    <h2>
      Préférences
    </h2>




    <div class="row">


      <div class="label">


        <ion-icon
          name="navigate-outline">
        </ion-icon>


        <span>
          Position automatique
        </span>


      </div>




      <ion-toggle

        [checked]="settings.autoLocation"

        (ionChange)="update({

          autoLocation:
          $event.detail.checked

        })">

      </ion-toggle>



    </div>





    <div class="row">


      <div class="label">


        <ion-icon
          name="notifications-outline">
        </ion-icon>


        <span>
          Notifications
        </span>


      </div>



      <ion-toggle

        [checked]="settings.notifications"

        (ionChange)="update({

          notifications:
          $event.detail.checked

        })">

      </ion-toggle>



    </div>






    <div class="row">


      <div class="label">


        <ion-icon
          name="moon-outline">
        </ion-icon>


        <span>
          Mode sombre
        </span>


      </div>




      <ion-toggle

        [checked]="settings.darkMode"

        (ionChange)="update({

          darkMode:
          $event.detail.checked

        })">

      </ion-toggle>



    </div>



  </section>







  <!-- INFORMATION -->


  <section class="card about">


    <h2>
      Application
    </h2>


    <div class="info">


      <span>
        Weather Premium
      </span>


      <span>
        Version 1.0.0
      </span>


    </div>



    <div class="info">


      <span>
        Données météo
      </span>


      <span>
        Open Meteo API
      </span>


    </div>



  </section>




</ng-container>



</div>



</ion-content>