<app-card>

  <div class="forecast-card">


    <!-- Titre -->
    <h2>
      Prévisions sur 7 jours
    </h2>



    <div
      class="forecast-row"
      *ngFor="let day of forecasts"
    >


      <!-- Jour -->
      <div class="day">

        {{ day.day }}

      </div>



      <!-- Icône -->
      <div class="weather-icon">

        <ion-icon
          [name]="day.icon">
        </ion-icon>

      </div>



      <!-- Description -->
      <div class="description">

        {{ day.description }}

      </div>



      <!-- Températures -->
      <div class="temperature">


<span class="max">

{{day.maxTemperature}}°

</span>



<div class="range">


<div class="range-bar">

</div>


</div>



<span class="min">

{{day.minTemperature}}°

</span>


</div>


    </div>


  </div>

</app-card>