<app-card>

  <div class="weather-card">


    <!-- Header localisation + favori -->
    <div class="location-bar">


      <!-- Localisation -->
      <div class="location">

        <ion-icon name="location-outline"></ion-icon>

        <span>{{ location }}</span>d

      </div>



      <!-- Favori -->
      <button
        class="favorite-button"
        (click)="favorite.emit()"
      >

        <ion-icon
          [name]="isFavorite ? 'star' : 'star-outline'">
        </ion-icon>

      </button>


    </div>



    <!-- Icône météo -->
    <div class="icon">

      {{ icon }}

    </div>



    <!-- Température principale -->
    <div class="temperature">

      {{ temperature }}°

    </div>



    <!-- Description -->
    <div class="description">

      {{ description }}

    </div>



    <!-- Température ressentie -->
    <div class="feels">

      Ressenti {{ feelsLike }}°

    </div>


  </div>

</app-card>