.weather-card {


  display:flex;

  flex-direction:column;

  align-items:center;

  text-align:center;

  gap:18px;


}



.location ion-icon {


  font-size:20px;

  color:#2563eb;


}



/*
|--------------------------------------------------------------------------
| Icône météo
|--------------------------------------------------------------------------
*/

.icon {


  font-size:72px;


  margin-top:10px;


  filter:

    drop-shadow(
      0 8px 15px rgba(0,0,0,.20)
    );


}



/*
|--------------------------------------------------------------------------
| Température principale
|--------------------------------------------------------------------------
*/

.temperature {


  font-size:84px;


  line-height:1;


  font-weight:900;


  letter-spacing:-3px;


  color:#0f172a;



}



/*
|--------------------------------------------------------------------------
| Description météo
|--------------------------------------------------------------------------
*/

.description {


  font-size:20px;


  font-weight:600;


  color:#334155;



}



/*
|--------------------------------------------------------------------------
| Ressenti
|--------------------------------------------------------------------------
*/

.feels {


  padding:

    8px 20px;



  border-radius:25px;



  background:

    rgba(37,99,235,.12);



  border:

    1px solid rgba(37,99,235,.20);



  color:#1d4ed8;



  font-size:14px;


  font-weight:600;



  backdrop-filter:

    blur(10px);


}

.location-bar {

  width:100%;

  display:flex;

  align-items:center;

  justify-content:space-between;

}


.favorite-button {

  width:42px;

  height:42px;

  border:none;

  border-radius:50%;

  background:#dadfe4;

  display:flex;

  align-items:center;

  justify-content:center;

  box-shadow:

    0 4px 10px rgba(0,0,0,.08);

}


.favorite-button ion-icon {

  font-size:24px;

  color:#f59e0b;

}



.location {

  display:flex;

  align-items:center;

  gap:6px;

  font-size:16px;

  color:rgba(255,255,255,.85);

}