<ion-content fullscreen>

  <div class="page">


    <!-- HEADER -->
    <div class="header">

      <h1>
        Mes favoris ⭐
      </h1>

      <p>
        Retrouvez rapidement vos villes préférées
      </p>

    </div>



    <!-- FAVORITES LIST -->

    <div
      class="favorites-list"
      *ngIf="(favorites$ | async)?.length"
    >


      <div

        class="favorite-card"

        *ngFor="let city of favorites$ | async"

        (click)="openWeather(city)"

      >


        <!-- ICON -->

        <div class="location-icon">

          <ion-icon
            name="location-outline">
          </ion-icon>

        </div>




        <!-- INFO -->

        <div class="info">


          <h2>
            {{ city.name }}
          </h2>



          <p>

            <span *ngIf="city.region">

              {{ city.region }}

              <span>
                -
              </span>

            </span>


            {{ city.country }}


          </p>


        </div>





        <!-- ACTIONS -->

        <div class="actions">


          <button

            class="delete"

            (click)="remove(city); $event.stopPropagation()"

          >

            <ion-icon
              name="trash-outline">
            </ion-icon>


          </button>



          <ion-icon

            class="arrow"

            name="chevron-forward-outline">

          </ion-icon>



        </div>



      </div>


    </div>





    <!-- EMPTY STATE -->


    <div

      class="empty"

      *ngIf="!(favorites$ | async)?.length"

    >


      <div class="empty-icon">

        <ion-icon
          name="star-outline">
        </ion-icon>

      </div>



      <h3>
        Aucun favori
      </h3>


      <p>

        Vous n'avez pas encore enregistré
        de ville.

      </p>



      <span>

        Utilisez la recherche pour ajouter
        vos destinations météo préférées.

      </span>


    </div>



  </div>


</ion-content>